html, body {
    font-size: 16px !important;
    font-weight: 400 !important;
    padding: 0;
    margin: 0;
    background-color: #ffffff !important;
    color: #000000 !important;
}

ul li {
    list-style-type: none;
}

a,
a:active,
a:visited,
a:hover {
    /* color: #369369; */
    text-decoration: none;
}

.switch label .lever {
    background-color: #3ea93e;
}

.switch label .lever:after {
    background-color: green;
}

.switch label input[type=checkbox]:checked + .lever {
    background-color: #619dd9;
}

.switch label input[type=checkbox]:checked + .lever:after {
    background-color: #1e8bf8;
}

.brand-color {
    color: #98c8ec !important;
}

.brand-bg {
    background-color: #98c8ec !important;
    color: #ffffff !important;
}

.drop-shadow {
    box-shadow: 0px 2px 10px #555555;
}

.mb-0 {
    margin-bottom: 0
}

/*Login page*/

.login-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    transition: 0.5s;
    background-image: url('../image/login-bg2.png');
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
}

.login-page .login-form {
    position: relative;
    top: 45%;
    left: 50%;
    width: 20%;
    height: auto;
    transition: 0.5s;
    transform: translate(-50%, -50%);
    padding: 30px 15px 0px;
    background: #ffffff;
    box-shadow: 1px 1px 19px #777777;
    border-radius: 10px;
    border-left: 5px solid #35609a;
    border-right: 5px solid #35609a;
}

.login-page .login-form.activation{
    width: 60%;
}

#errorAlert {
    position: fixed;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    z-index: 999999;
    transition: 0.3s;
}

#hidePass {
    display: none;
}

.login-page-title {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 9999;
    background-color: #35609a;
    margin: 0;
    padding: 3px 0;
    color: #fff;
    min-height: 60px;
}

.login-page-title .gob-logo{
    position: absolute;
    left: 5px;
    top: 5px;
}

.login-page-title p{
    font-size: 24px;
    margin: 10px 0 0 0;
    line-height: 18px;
}
.login-page-title p small{
    font-size: 60%;
}


.login-page-title .dte-logo{
    position: absolute;
    right: 5px;
    top: 5px;
}


@media (max-width: 1900px) {
    .login-page .login-form {
        width: 25%;
    }
    .login-page .login-form.activation {
        width: 60%;
    }
}

@media (max-width: 1600px) {
    .login-page .login-form {
        width: 30%;
    }
    .login-page .login-form.activation {
        width: 70%;
    }
}

@media (max-width: 1200px) {
    .login-page .login-form {
        width: 45%;
    }
}

@media (max-width: 991px) {
    .login-page .login-form{
        width: 60%;
    }
    .login-page .login-form.activation{
        width: 80%;
    }
}

@media (max-width: 768px) {
    .login-page .login-form{
        width: 80%;
    }
}

@media (max-width: 600px) {
    .login-page .login-form,
    .login-page .login-form.activation {
        width: 90%;
    }
}

@media (max-width: 500px) {
    .login-page-title{
        min-height: 100px;
    }
    .login-page-title .gob-logo,
    .login-page-title .dte-logo {
        top: 40px;
    }
}

@media (max-width: 400px) {
    .login-page .login-form,
    .login-page .login-form.activation {
        width: 95%;
    }
}


